@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import './_variables.css' ;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
    background-image: linear-gradient( to right, #362546 0%, #21162b 100% );   
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

}


.cta{
    display: inline-block;
    padding: 10px 30px;
    color: grey;   
    background-color: transparent;
    border: 2px solid grey;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    overflow-y: scroll;
}

.scroll-down-box{
    height: 70px;
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down-box .scroll-arrow{
    width: 100%;
    height: auto;
    color: white;
}


.cta:hover {
    color: white;
    border: 2px solid white;
    font-weight: 900;
}



/* hero section */
 #hero {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: var( --background );
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:  black; 
    opacity:  .7;
    z-index: -1;
}

#hero .hero{

    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 3 vh;
    position: relative;
    color: transparent;
    
    animation: text_reveal 1s ease forwards;
    animation-delay: 2s;
}

 #hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:  0%;
    background-color:  rgb(83, 21, 2);
    animation: text_reveal_box 1s ease;
    animation-delay: 1.5s;
}

#hero .scroll-down-box{
    height: 70px;
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    border-radius: 50px;
    cursor: pointer;
}

#hero  .scroll-down-box .scroll-arrow{
    width: 100%;
    height: auto;
    color: white;
}

#hero  .scroll-down-box .scroll-arrow::before,
#hero  .scroll-down-box .scroll-arrow::after{  
    animation: scroll-down 1s ease-in-out infinite;
}


.scroll-arrow::after{
    top:30%;
}
/* end hero section */




/* start about */


#about .about{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
    /* background-image: linear-gradient( to right, #362546 0%, #21162b 100% );    */
}



#about {
    width: 200px;
    height: auto;
    width: 100%;
    position: relative;
}

#about .about{
    position: relative;
}


/* #about .mandel-animation{
    width: 50% ;
}
#about .mandel-animation table{
    padding: 0 0 ;
    z-index: 0;
    left: 0;
    width: 100%;
    height:100%;
    position: absolute;
    table-layout: fixed;
    
} */

  #about   h1{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    color: white;
    z-index: 5;

} 

  #about   p {
    margin-bottom: 20px;
    color: white;
    z-index: 5;
}


  #about   .cta{
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: .5rem;
}


#about .about  .cta{
    display: inline-block;
    padding: 10px 30px;
    color: grey;   
    background-color: transparent;
    border: 2px solid grey;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    z-index: 5;
}

#about .about .cta:hover {
    color: white;
    border: 2px solid white;
    font-weight: 900;
}


#about .about .scroll-down-box{
    height: 70px;
    width: 50px;
    position: absolute;
    bottom: 0px;
    border-radius: 50px;
    cursor: pointer;
}



/* end about */











/* start portfolio */

.portfolio-container{
    overflow: initial;
    height: 70%;
}


.swiper-wrapper{
    max-height: 70%;
    position: relative;
    padding: 0;
    margin: 0;
}

.portfolio-content{
    height: 100%;
    align-content: center;
}

.portfolio-img{
    width: 50%;
    max-width: 80%;
    height: auto;
    border-radius: .5rem;
    justify-self: center;
}

#portfolio h2{
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem ; /* --h3-font-size */
    margin-bottom: 0.5rem; /* --mb-0-5; */
}
.portfolio-description, .portfolio-img, .portfolio-content{
    text-align: center;
    color: white;
}

.portfolio-description{
     text-align: center;
     margin-bottom: 0.75rem ; 
}

.swiper-button:hover .button-icon{
    transform: translateX( .25rem );
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}


.swiper-button-prev{
    left: -.5rem;
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-pagination{
    position: relative;
    bottom: 0;
    /* top: -20px; */
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    position: absolute;
}
 /* end portfolio  */

 /* start footer */
 footer {
     height: 200px;
     text-align: center;
     background: #1f2c30;
 }
 footer .footer .icons{
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}


 footer .footer .icons .linkedin{

     width: 32px;
     height: auto;
     margin: .5rem;

 }
 footer .footer .icons .github{
    height: auto;
    margin: .5rem;

}




 footer .footer .copyright{
     bottom: 0;
 }






 /* end footer  */






@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%; 
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal{
    100% { color: white; }
}

@keyframes scroll-down{
    0%{ opacity: 1; }
    30%{ opacity: 1; }
    60%{ opacity: 1; }
    100%{ opacity: 0;
        top: 90%;
    }
}
